.accordion {
  &--main {
    & .accordion__item {
      & svg {
        @media (max-width: $mobile-xs) {
          position: absolute;
          top: 12px;
          right: 25px;
        }
      }

      &--active {
        & svg {
          @media (max-width: $mobile-xs) {
            top: 23px;
            right: 23px;
          }
        }
      }
    }
  }

  &__item {
    position: relative;
    padding: 42px 42px 45px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;

    border: 1px solid #a87b62;
    box-sizing: border-box;

    @media (max-width: $table) {
      padding: 50px;
    }

    @media (max-width: 768px) {
      padding: 44px 50px;
    }

    @media (max-width: $mobile) {
      padding: 22px;
    }

    @media (max-width: $mobile-xs) {
      padding: 17px 23px 20px;
    }

    &:not(:last-child) {
      border-bottom: none;
    }

    & h3 {
      margin: 0;
      width: 85%;
      font-family: $mainFontMedium;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 130%;

      @media (max-width: $mobile) {
        font-size: 16px;
        line-height: 140%;
      }

      @media (max-width: $mobile-xs) {
        width: 90%;

        & span {
          display: block;
        }
      }
    }

    & svg {
      position: relative;
      // top: 37px;
      // right: 48px;
      padding-right: 0;
      fill: transparent;
      width: 19px;
      height: 20px;

      transform: rotate(180deg);
      transition: 0.5s;

      @media (max-width: $table) {
        // top: 44px;
        // right: 52px;
      }
    }

    &--active {
      & .accordion__text {
        position: relative;
        padding-top: 10px;
        padding-left: 6px;
        max-height: 300px;
        opacity: 1;

        @media (max-width: 768px) {
          padding-top: 25px;
          padding-left: 0;
        }

        @media (max-width: $mobile-xs) {
          padding-top: 14px;
          padding-right: 35px;
          line-height: 143%;
        }
      }

      & svg {
        // top: 48px;
        // right: 46px;
        transform: rotate(0deg);

        @media (max-width: $table) {
          // top: 48px;
          // right: 50px;
        }
      }
    }
  }

  &__text {
    width: 100%;
    font-size: 16px;
    line-height: 130%;

    max-height: 0;
    overflow: hidden;

    opacity: 0;

    max-width: 525px;
    font-style: normal;
    font-weight: normal;

    transition: max-height 0.2s ease-out;

    box-sizing: border-box;

    @media (max-width: 768px) {
      max-width: 540px;
    }

    @media (max-width: $mobile) {
      font-size: 14px;
      line-height: 140%;
    }
  }
}
