.accordion {
  &__item {
    position: relative;
    padding: 42px 42px 45px;

    border: 1px solid #a87b62;
    box-sizing: border-box;

    @media (max-width: $table) {
      padding: 50px;
    }

    @media (max-width: $mobile) {
      padding: 22px;
    }

    &:not(:last-child) {
      border-bottom: none;
    }

    &--active {
      & .accordion__text {
        position: relative;
        padding-top: 10px;
        padding-left: 6px;
        max-height: 300px;
        opacity: 1;
      }

      & .accordion__header {
        & svg {
          transform: rotate(0deg);
        }
      }
    }
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;

    & h3 {
      margin: 0;
      width: 85%;
      font-family: "Poppins Medium", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 130%;

      @media (max-width: $mobile) {
        font-size: 16px;
        line-height: 140%;
      }
    }

    & svg {
      padding-right: 8px;
      fill: transparent;
      width: 15px;
      height: 8px;

      transform: rotate(180deg);
      transition: 0.5s;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 130%;

    max-height: 0;
    overflow: hidden;

    opacity: 0;

    max-width: 525px;
    font-style: normal;
    font-weight: normal;

    transition: max-height 0.2s ease-out;

    @media (max-width: $mobile) {
      font-size: 14px;
      line-height: 140%;
    }
  }
}
