.additional-info {
  &__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;

    text-align: center;

    color: #1d1613;

    border-bottom: 1px solid #f6f5f4;
  }

  &__name {
    font-family: "Poppins Medium", sans-serif;
    font-weight: 500;
  }
}
