.catalog {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 80px;
    box-sizing: border-box;

    @media (max-width: $table) {
      padding-top: 50px;
    }

    @media (max-width: $mobile-xs) {
      padding-top: 40px;
    }
  }

  &__sidebar {
    width: 100%;
    max-width: 250px;
    margin-right: 50px;
    box-sizing: border-box;

    @media (max-width: $table) {
      margin-right: 0;
      width: 100%;
      max-width: 100%;
    }

    & .accordion {
      margin-bottom: 38px;
      width: 100%;
      box-sizing: border-box;
    }

    & h3 {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
    }

    & .accordion__item {
      padding: 25px 17px 18px 23px;
      box-sizing: border-box;
    }

    & .accordion__item--active .accordion__text {
      padding-top: 23px;
      padding-left: 9px;
    }
  }

  &__btn {
    display: none;
    width: 100%;
    padding: 23px;
    margin-bottom: 50px;
    font-family: $mainFontMedium;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #ffffff;
    background-color: #a87b62;
    border: 1px solid #a87b62;
    box-sizing: border-box;

    cursor: pointer;
    outline: none;

    &:focus,
    &:hover {
      opacity: 0.5;
    }

    @media (max-width: $table) {
      display: block;
    }

    @media (max-width: $mobile-xs) {
      margin-bottom: 40px;
    }
  }

  &__content {
    width: calc(100% - 300px);
    box-sizing: border-box;

    @media (max-width: $table) {
      width: 100%;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;

    margin-right: -15px;
    margin-left: -15px;

    box-sizing: border-box;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding-top: 39px;
    padding-bottom: 74px;

    font-family: $mainFontMedium;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;

    border-top: 1px solid #f6f5f4;

    @media (max-width: 768px) {
      padding-top: 33px;
      padding-bottom: 75px;
    }

    @media (max-width: $mobile-xs) {
      padding-top: 18px;
      padding-bottom: 69px;
    }
  }

  &__nav-container {
    padding: 0 7% 0 15%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 1920px) {
      padding: 0 7% 0 29%;
    }

    @media (max-width: $table) {
      padding: 0 45px;
    }

    @media (max-width: $mobile) {
      padding: 0 15px;
    }

    @media (max-width: $mobile-xs) {
      justify-content: center;
    }
  }

  &__button-prev,
  &__button-next {
    padding: 0;
    font-family: $mainFontMedium;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;

    cursor: pointer;
    outline: none;

    border: none;
    border-radius: 0;
    background-color: transparent;

    &:focus,
    &:hover {
      opacity: 0.5;
      outline: none;
    }

    @media (max-width: $mobile-xs) {
      display: none;
    }
  }

  &__item {
    width: calc(100% / 3 - 30px);
    margin: 0 15px 35px;

    color: $primary-color;

    text-decoration: none;

    &:focus,
    &:hover {
      opacity: 0.5;
    }

    @media (max-width: 768px) {
      margin-bottom: 28px;
    }

    @media (max-width: $mobile) {
      flex-grow: 1;
      width: calc(100% / 2 - 30px);
    }

    @media (max-width: $mobile-xs) {
      margin-bottom: 26px;
    }

    &.product-preview {
      & img {
        margin-bottom: 18px;

        @media (max-width: 768px) {
          margin-bottom: 9px;
        }

        @media (max-width: $mobile-xs) {
          margin-bottom: 4px;
        }
      }

      & h3 {
        padding: 0;
        padding-left: 5px;
        text-align: center;

        @media (max-width: 768px) {
          margin-top: 12px;
          padding-left: 0;
        }

        & span {
          margin-top: -11px;

          @media (max-width: $mobile-xs) {
            margin-top: 0;
            display: inline;
          }
        }
      }
    }
  }

  &__pagination {
    padding-right: 33px;

    @media (max-width: $mobile-xs) {
      padding-right: 0;
    }
  }
}
