.gallery {
  padding-top: 61px;
  padding-bottom: 127px;
  text-align: center;
  overflow: hidden;

  @media (max-width: 768px) {
    padding-top: 42px;
    padding-bottom: 80px;
  }

  @media (max-width: $mobile) {
    padding-bottom: 50px;
  }

  @media (max-width: $mobile-xs) {
    padding-top: 29px;
    padding-bottom: 20px;
  }

  & h2 {
    margin: 0;
    margin-bottom: 21px;
    letter-spacing: 0.03em;
  }

  & a {
    position: relative;
    padding-bottom: 5px;
    font-family: $mainFontMedium;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    /* or 21px */
    text-align: center;

    color: #1d1613;

    text-decoration: none;

    &:focus,
    &:hover {
      opacity: 0.5;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #a87b62;
    }
  }

  &__wrapper {
    position: relative;
    padding-top: 65px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;

    height: 480px;

    width: 100%;
    box-sizing: border-box;

    transition: 1s;

    @media (max-width: $desktop) {
      height: 40vw;
    }

    @media (max-width: $mobile) {
      height: 48vw;
    }

    @media (max-width: $mobile-xs) {
      padding-top: 55px;

      max-width: 320px;
      height: 470px;
      width: 100%;
      margin: 0 auto;
    }

    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }

  &__item {
    width: 19.4%;
    margin-right: 30px;
    box-sizing: border-box;
    overflow: hidden;

    @media (max-width: $table) {
      margin-right: 15px;
    }

    @media (max-width: $mobile-xs) {
      width: 50%;
      max-width: 133px;
      margin-bottom: 18px;
      margin-right: 0;

      &--last-mob {
        order: 2;
        margin-left: 5px;
        max-width: 145px;
        transform: translateY(-30px);
      }

      &--horiz {
        order: 1;
        transform: translateY(-30px);
      }

      &--small {
        transform: translateY(-13px);
      }
    }

    &:last-child {
      margin-top: auto;
    }

    & img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--big {
      width: 34.2%;
      max-width: 400px;
      height: 100%;

      box-sizing: border-box;

      @media (max-width: $mobile-xs) {
        order: 2;
        margin-left: 5px;
        width: 100%;
        max-width: 145px;
        height: 236px;
      }
    }

    &--hidden {
      margin-right: 0;

      @media (max-width: $mobile-xs) {
        display: none;
      }
    }
  }
}
