.logo {
  display: block;
  width: 66px;
  height: 66px;

  @media (max-width: $mobile) {
    width: 52px;
    height: 52px;
  }

  & img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  & svg {
    width: 66px;
    height: 66px;
    fill: #a87b62;

    @media (max-width: $mobile) {
      width: 52px;
      height: 52px;
    }
  }
}
