.page-header {
  position: relative;

  padding-bottom: 80px;

  @media (max-width: $table) {
    padding-bottom: 50px;
  }

  @media (max-width: $mobile) {
    padding-bottom: 0;
  }

  &--main {
    padding-bottom: 100px;

    @media (max-width: $mobile-xs) {
      padding-bottom: 50px;
    }

    & .page-header__top {
      margin-bottom: 60px;
      border-bottom: 1px solid #f6f5f4;

      @media (max-width: $mobile-xs) {
        margin-bottom: 0;
      }
    }

    & .page-header__promo {
      padding-top: 195px;
      padding-bottom: 195px;
      background-image: url("../img/promo/promo-bg.jpg");

      @media (max-width: $table) {
        background-image: url("../img/promo/promo-bg-table.jpg");
      }

      @media (max-width: $mobile) {
        margin-bottom: 0;
        background-image: url("../img/promo/promo-bg-mob.jpg");
      }
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding-top: 40px;
    padding-bottom: 20px;

    @media (max-width: $mobile-xs) {
      padding-top: 20px;
    }

    &--mob {
      background-color: #a87b62;

      & .page-header__navigation,
      & .page-header__search,
      & .page-header__login-popup {
        display: block;
      }

      & .page-header__logo svg {
        fill: #ffffff;
      }

      & .page-header__cart svg {
        stroke: #ffffff;
      }

      & .page-header__btn-burger svg {
        stroke: #ffffff;
      }
    }
  }

  &__nav {
    border-top: 1px solid #f6f5f4;
    border-bottom: 1px solid #f6f5f4;

    @media (max-width: $mobile) {
      display: none;
    }
  }

  &__navigation {
    display: none;
  }

  &__search {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    box-sizing: border-box;

    @media (max-width: 768px) {
      display: none;
      order: 1;

      align-self: flex-start;
      width: 100%;
      margin-top: 40px;
      margin-bottom: 67px;
    }

    @media (max-width: $mobile-xs) {
      margin-top: 30px;
      margin-bottom: 45px;
    }

    & label {
      width: 100%;
      box-sizing: border-box;
    }

    & input {
      width: 100%;
      padding-left: 20px;
      font-family: "Poppins Medium", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;

      color: #9b9997;
      background-color: transparent;
      border-radius: 0;
      border: none;
      box-sizing: border-box;

      background-image: url("../img/icons/icon-search.svg");
      background-repeat: no-repeat;
      background-position: 0 50%;
      background-size: 15px;

      outline: none;

      &:focus,
      &:hover,
      &:active {
        outline: none;
      }

      @media (max-width: 768px) {
        padding: 12px 12px 12px 30px;
        width: 100%;
        color: #ffffff;
        background-position: 12px 50%;
        background-image: url("../img/icons/icon-search-white.svg");
        background-color: rgba(255, 255, 255, 0.15);
        border-radius: 21px;
        border: none;

        &::placeholder {
          color: transparent;
        }
      }
    }

    & svg {
      height: 14px;
    }
  }

  &__login-and-cart {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: 768px) {
      order: 2;
      align-self: flex-start;
    }
  }

  &__login-popup {
    font-family: "Poppins Medium", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #1d1613;

    border-radius: 0;
    border: none;
    background-color: transparent;

    cursor: pointer;

    outline: none;

    &:focus,
    &:hover,
    &:active {
      outline: none;
      border-radius: 0;
      border: none;
      background-color: transparent;
    }

    @media (max-width: 768px) {
      display: none;
      margin-bottom: 80px;
      font-size: 18px;
      line-height: 130%;

      color: #ffffff;
    }
  }

  &__cart {
    font-family: "Poppins Medium", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #1d1613;

    border-radius: 0;
    border: none;
    background-color: transparent;

    cursor: pointer;

    &:focus,
    &:hover {
      border-radius: 0;
      border: none;
      background-color: transparent;
    }

    @media (max-width: 768px) {
      font-size: 0;
      position: absolute;
      top: 55px;
      right: 45px;
    }

    @media (max-width: $mobile-xs) {
      top: 38px;
      right: 15px;
    }

    & svg {
      display: none;

      fill: none;
      stroke: #1d1613;

      @media (max-width: 768px) {
        display: block;
      }
    }
  }

  &__promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 100px;
    padding-bottom: 100px;

    background-repeat: no-repeat;
    background-size: cover;
    background-color: #6d5644;

    background-image: url("../img/promo/promo-cat.jpg");

    @media (max-width: $table) {
      background-image: url("../img/promo/promo-cat-table.jpg");
    }

    @media (max-width: $mobile) {
      margin-bottom: 40px;
      background-image: url("../img/promo/promo-cat-mob.jpg");
    }

    & h1 {
      margin: 0;
      font-family: $titleFont;

      font-style: normal;
      font-weight: bold;
      font-size: 45px;

      letter-spacing: 0.03em;

      color: #ffffff;

      text-transform: uppercase;

      @media (max-width: $mobile-xs) {
        font-size: 38px;
        line-height: 130%;
      }
    }

    & p {
      margin: 0;
      font-family: $titleFontItalic;
      font-style: italic;
      font-weight: normal;
      font-size: 38px;
      line-height: 130%;

      color: #ffffff;

      @media (max-width: $mobile-xs) {
        font-size: 34px;
      }
    }
  }

  & button {
    border-radius: 0;
    border: none;
    background-color: transparent;
  }

  &__btn-burger {
    display: none;
    outline: none;

    @media (max-width: 768px) {
      display: block;
      position: absolute;
      top: 55px;
      left: 45px;
    }

    @media (max-width: $mobile-xs) {
      top: 38px;
      left: 15px;
    }

    & svg {
      stroke: #1d1613;
    }
  }
}
