.page-header {
  position: relative;

  padding-bottom: 80px;

  @media (max-width: $table) {
    padding-bottom: 50px;
  }

  &--main {
    padding-bottom: 100px;

    @media (max-width: $mobile-xs) {
      padding-bottom: 50px;
    }

    & .page-header__top {
      margin-bottom: 60px;
      border-bottom: 1px solid #f6f5f4;

      @media (max-width: $mobile-xs) {
        margin-bottom: 0;
      }
    }

    & .page-header__promo {
      padding-top: 195px;
      padding-bottom: 195px;
      background-image: url("../img/promo/promo-bg.jpg");

      @media (max-width: $table) {
        background-image: url("../img/promo/promo-bg-table.jpg");
      }

      @media (max-width: $table) {
        background-image: url("../img/promo/promo-bg-mob.jpg");
      }
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding-top: 40px;
    padding-bottom: 20px;
  }

  &__nav {
    border-top: 1px solid #f6f5f4;
    border-bottom: 1px solid #f6f5f4;
  }

  &__search {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #9b9997;

    text-decoration: none;

    @media (max-width: $mobile) {
      display: none;
    }

    & svg {
      height: 14px;
    }
  }

  &__login-and-cart {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__login-popup {
    font-family: "Poppins Bold", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #1d1613;

    border-radius: 0;
    border: none;
    background-color: transparent;

    cursor: pointer;

    &:focus,
    &:hover {
      border-radius: 0;
      border: none;
      background-color: transparent;
    }

    @media (max-width: $mobile) {
      display: none;
    }
  }

  &__cart {
    font-family: "Poppins Bold", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #1d1613;

    border-radius: 0;
    border: none;
    background-color: transparent;

    cursor: pointer;

    &:focus,
    &:hover {
      border-radius: 0;
      border: none;
      background-color: transparent;
    }

    @media (max-width: $mobile) {
      font-size: 0;
    }

    & svg {
      display: none;

      fill: none;

      @media (max-width: $mobile) {
        display: block;
      }
    }
  }

  &__promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 100px;
    padding-bottom: 100px;

    background-repeat: no-repeat;
    background-size: cover;
    background-color: #6d5644;

    background-image: url("../img/promo/promo-cat.jpg");

    @media (max-width: $table) {
      background-image: url("../img/promo/promo-cat-table.jpg");
    }

    @media (max-width: $table) {
      background-image: url("../img/promo/promo-cat-mob.jpg");
    }

    & h1 {
      margin: 0;
      font-family: $titleFont;

      font-style: normal;
      font-weight: bold;
      font-size: 45px;
      line-height: 130%;
      /* or 58px */

      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.03em;

      color: #ffffff;

      text-transform: uppercase;

      @media (max-width: $mobile-xs) {
        font-size: 38px;
        line-height: 130%;
      }
    }

    & p {
      margin: 0;
      font-family: $titleFontItalic;
      font-style: italic;
      font-weight: normal;
      font-size: 38px;
      line-height: 130%;
      /* or 49px */

      display: flex;
      align-items: center;
      text-align: center;

      color: #ffffff;

      @media (max-width: $mobile-xs) {
        font-size: 34px;
      }
    }
  }
}
