.pagination {
  &__link {
    padding: 0 5px;
    font-family: "Poppins Medium", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;

    text-decoration: none;

    color: #9b9997;

    &:focus,
    &:hover {
      opacity: 0.5;
    }

    @media (max-width: $mobile-xs) {
      padding: 0 10px;
    }

    &--active {
      color: $primary-color;
    }
  }
}
