.product {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;

  & h1 {
    margin: 0;
    margin-bottom: 30px;
    font-family: "Cormorant Garamond", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 130%;
  }

  &__price {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 130%;
  }

  &__slider {
    display: flex;
    flex-wrap: wrap;

    width: 50%;

    box-sizing: border-box;

    & .swiper-container-vertical {
      max-height: 435px;
    }

    &-left {
      width: 100px;

      display: flex;
      flex-direction: column;
      box-sizing: border-box;

      @media (max-width: $table) {
        width: 100%;
        order: 2;
      }
    }

    &-thumbs {
      width: 75%;
      max-height: 425px;
      box-sizing: border-box;

      @media (max-width: $table) {
        width: 100%;
        margin-bottom: 14px;
      }

      & img {
        height: 100%;
      }
    }
  }

  &__info {
    width: 50%;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;

    @media (max-width: $table) {
      padding-left: 40px;
      padding-right: 0;
    }
  }

  &__tabs {
    margin-bottom: 50px;
  }

  & button {
    width: 100%;
    padding: 28px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;

    color: #ffffff;
    background: #a87b62;
    border: 1px solid #a87b62;
    box-sizing: border-box;

    cursor: pointer;

    outline: none;

    &:focus,
    &:hover {
      opacity: 0.5;
    }
  }

  &__dop-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;

    color: #9b9997;
  }
}
