.questions {
  padding-top: 15px;
  padding-bottom: 100px;

  & h2 {
    margin-bottom: 48px;

    letter-spacing: 0.03em;
    text-align: center;
  }

  &__accordion {
    max-width: 970px;
    margin: 0 auto;
  }
}
