.slider-products {
  position: relative;
  padding-top: 120px;
  padding-bottom: 70px;
  text-align: center;

  @media (max-width: 768px) {
    padding-top: 70px;
    padding-bottom: 20px;
  }

  @media (max-width: $mobile-xs) {
    padding-top: 62px;
    padding-bottom: 20px;
  }

  &--page-item {
    padding-bottom: 115px;

    @media (max-width: 768px) {
      padding-bottom: 62px;
    }
  }

  & h2 {
    margin: 0;
    margin-bottom: 24px;
  }

  & a {
    position: relative;
    font-family: "Poppins Medium", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    /* or 21px */
    text-align: center;

    color: #1d1613;

    text-decoration: none;

    &:focus,
    &:hover {
      opacity: 0.5;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #a87b62;
    }
  }

  &__wrapper {
    padding-top: 60px;
    margin-bottom: 83px;

    @media (max-width: 768px) {
      padding-top: 53px;
      margin-bottom: 72px;
    }

    @media (max-width: $mobile-xs) {
      padding-top: 48px;
      margin-bottom: 65px;
    }
  }

  & .swiper-pagination-bullet {
    background-color: transparent;
    padding: 0 5px;
  }

  & .swiper-button-next,
  & .swiper-button-prev {
    top: 49px;
    width: 45px;
    border: none;
    border-radius: 0;
    background-color: transparent;

    outline: none;

    @media (max-width: $mobile) {
      display: none;
    }

    &::after,
    &::before {
      content: "";
    }

    & svg {
      width: 29px;
      height: 9px;
    }
  }

  & .swiper-button-prev {
    left: -8px;
    transform: rotate(180deg);
  }

  & .swiper-button-next {
    right: -8px;
  }
}
