.slider-products {
  &__wrapper {
    margin-bottom: 110px;
  }

  // & .swiper-container {
  //   padding-top: 11%;
  // }

  & .swiper-pagination-bullet {
    background-color: transparent;
  }

  & .swiper-button-next,
  & .swiper-button-prev {
    top: 24px;
    border: none;
    border-radius: 0;
    background-color: transparent;

    outline: none;

    &::after,
    &::before {
      content: "";
    }

    & svg {
      width: 29px;
      height: 9px;
    }
  }

  & .swiper-button-prev {
    transform: rotate(180deg);
  }

  &__slide {
    
  }

  
}
