.social {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (max-width: $mobile-xs) {
    display: flex;
    flex-wrap: wrap;

    & .social__item {
      font-size: 0;

      &:not(:last-child) {
        margin-right: 27px;
      }

      &:first-child {
        & .social__icon {
          width: 10px;
        }
      }
    }

    & .social__link {
      font-size: 0;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__link {
    display: block;
    color: #ffffff;

    text-decoration: none;

    &:focus,
    &:hover {
      opacity: 0.5;
    }
  }

  &__icon {
    width: 25px;
    height: 15px;
    fill: #ffffff;

    @media (max-width: $mobile-xs) {
      height: 20px;
      width: 25px;
    }
  }
}
