.subscription {
  &__header {
    & h3 {
      margin: 0;
      margin-bottom: 10px;
      font-family: $titleFont;
      font-style: normal;
      font-weight: bold;
      font-size: 34px;
      line-height: 130%;

      letter-spacing: 0.03em;

      @media (max-width: $mobile-xs) {
        margin-bottom: 15px;
        padding-right: 45px;
      }
    }

    & p {
      padding-left: 10px;
      margin: 0;
      margin-bottom: 12px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 130%;

      color: #9b9997;

      @media (max-width: $mobile-xs) {
        padding: 0;
        padding-right: 45px;
      }
    }
  }

  &__form {
    position: relative;
    padding-top: 25px;
    box-sizing: border-box;

    & label {
      width: 100%;
      box-sizing: border-box;
    }

    & input {
      width: 100%;
      padding: 10px 105px 10px 0;
      color: #9b9997;
      background-color: transparent;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #ffffff;

      outline: none;

      box-sizing: border-box;

      &::placeholder {
        color: #9b9997;
        background-color: transparent;
      }

      &:focus,
      &:hover {
        color: #ffffff;
        background-color: transparent;
      }

      &:focus::placeholder,
      &:hover::placeholder {
        background-color: transparent;
      }
    }

    & button {
      z-index: 2;
      position: absolute;
      bottom: 0;
      right: 0;

      display: flex;
      align-items: center;

      padding: 10px 0;

      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      color: #ffffff;
      border: none;
      border-radius: 0;
      background-color: transparent;
      outline: none;
      box-sizing: border-box;

      cursor: pointer;

      &:focus,
      &:hover {
        opacity: 0.5;
      }

      & svg {
        margin-left: 10px;
        fill: #ffffff;
      }
    }
  }
}
