.tabs {
  position: relative;
  padding-top: 39px;
  box-sizing: border-box;
  overflow: hidden;

  @media (max-width: $mobile) {
    padding-top: 29px;
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    padding: 0;
    margin: 0;
    margin-bottom: 22px;
    list-style: none;
    box-sizing: border-box;
  }

  &__item {
    position: relative;

    margin-right: 35px;

    font-family: "Poppins Medium", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;

    color: #9b9997;

    outline: none;

    cursor: pointer;

    box-sizing: border-box;

    &--active {
      position: relative;
      color: #1d1613;
    }
  }

  &__content {
    display: none;

    &--active {
      display: block;
    }
  }
}
