// Глобальные переменные

$mainFont: "Poppins", sans-serif;
$mainFontBold: "Poppins Bold", sans-serif;
$titleFont: "Cormorant Garamond", serif;
$titleFontItalic: "Cormorant Garamond Italic", serif;




// Size
$mainFontSize: 16px;
$mainLineHeight: 130%;

// Main color
$default-color: #ffffff;
$primary-color: #1D1613;
$secondary-color: #A87B62;
$warning-color: #F0EAE4;

$mobile-xs: 600px;
$mobile: 767px;
$table: 1023px;
$desktop: 1199px;
