// Глобальные переменные

$mainFont: "Poppins", sans-serif;
$mainFontBold: "Poppins Medium", sans-serif;
$titleFont: "Cormorant Garamond", serif;
$titleFontItalic: "Cormorant Garamond Italic", serif;

// Size
$mainFontSize: 16px;
$mainLineHeight: 130%;

// Main color
$default-color: #ffffff;
$primary-color: #1d1613;
$secondary-color: #a87b62;
$warning-color: #f0eae4;

$mobile-xs: 500px;
$mobile: 767px;
$table: 1023px;
$desktop: 1199px;
